{% extends "index.html" %}
{% block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css' ) }}">
<script defer src="{{ url_for('static', filename='login.js') }}"></script>
{% endblock%}
{% block content %}
<h1 class="gohome">
    <a href="/" class="gohome2">
        <img src="../static/img/logo.svg" class="logoImg">
    </a>
</h1>     
<form class="modal-content animate" method="post">
    <div class="imgcontainer">
    </div>
    <div class="container">
        <div>
            <label><b>아이디</b></label>
            <div>
                <input id="input-id" type="text" placeholder="아이디를 입력해주세요" name="uname" required>
            </div>
            <p id="help-id-login" ></p>
            <!--                <p class="validation_id" style="margin-bottom: 20px;">등록되지 않은 아이디입니다.</p>-->
        </div>

        <div>
            <label><b>비밀번호</b></label>
            <div>
                <input id="input-pw" type="password" placeholder="비밀번호를 입력해주세요" name="psw" required>
                <!--                <p class="validation_pw" style="margin-bottom: 20px;">비밀번호가 올바르지 않습니다.</p>-->
            </div>
            <p id="help-pw-login" ></p>
        </div>
        <button onclick="sign_in()" type="submit">로그인</button>
    </div>
</form>
{% endblock %}