{% extends "index.html" %}
{% block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='main.css' ) }}">
<script defer src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock%}
{% block content %}
<nav class="top">
    <div class="topChild"><img src="../static/img/logo.svg" class="logoImg">
        <ul class="member_box">
            <li style="width:auto;"><a href="/login">로그인</a></li>
            <li style="width:auto;"><a href="/signup">회원가입</a></li>
        </ul>
    </div>
</nav>

<div class="bookParent">
<ul class="book">
    <li class="seller1">
        <div class="seller"><a onclick="bestWeekly()">베스트 셀러</a></div>
        <ul class="bestChild">
            <li><a onclick="bestWeekly()">주간</a></li>
            <li><a onclick="bestmonthly()">월간</a></li>
            <li><a onclick="bestyearly()">연간</a></li>
        </ul>
    </li>
    <li class="seller2"> 
        <div class="seller"><a onclick="steady()">스테디 셀러</a></div>
            <ul class = "steadyChild">
                     <li><a onclick="steady()">국내도서</a></li>
            </ul>
    </li>
</ul>
</div>
<div class="content" id="home">
    <div class="content2" id='main'>

    <!--     상세이미지 클릭시 모달 -->
    <!-- <div class="modal">
        <div class="modal_content" title="클릭하면 창이 닫힙니다.">
            <div class="book_image">
                <img src="http://image.kyobobook.co.kr/images/book/xlarge/729/x9791165343729.jpg" width="440px"
                     height="565px">
            </div>
            <div class="book_title">
                이 책을 소개합니다~! 만약에 글이
            </div>
            <div class="book_info">
                여기에는 글자를 마구마구 넣을거에요???? 여기에는 글자를 마구마구 넣을거에요???? 여기에는 글자를 마구마구 넣을거에요???? 여기에는 글자를 마구마구 넣을거에요???? 여기에는 글자를
                마구마구 넣을거에요???? 여기에는 글자를 마구마구 넣을거에요????
            </div>
        </div>
    </div> -->

    </div>
</div>
{% endblock %}
