{% extends "index.html" %}
{% block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='signup.css' ) }}">
<script defer src="{{ url_for('static', filename='signup.js') }}"></script>
{% endblock%}
{% block content %}
<h1 class="gohome">
    <a href="/" class="gohome2">
        <img src="../static/img/logo.svg" class="logoImg">
    </a>
</h1> 
<form class="modal-content animate" method="post">
    <div class="imgcontainer">
    </div>
    <div class="container">
        <div>
            <label><b>아이디</b></label>
            <div>
                <input id="user-id" type="text" placeholder="가입하실 아이디를 입력해주세요" name="uname" required>
                <button onclick="check_dup()" id="btn-check-dup" class="overlap">중복확인</button>
            </div>
        </div>

        <p id="help-id" class="validation_id">아이디는 2~10자의 영문과 숫자, 일부 특수문자(-_.)만 입력 가능합니다.(영문,숫자 필수입력)</p>

        <div>
            <label><b>비밀번호</b></label>
            <div>
                <input id="user-pw" type="password" placeholder="비밀번호를 입력해주세요 (영문숫자 조합 8자리이상)" name="psw" required>
            </div>
            <p id="help-password" class="validation_pw">영문과 숫자, 일부 특수문자(!@#$%^&*) 조합의 8~20자의 비밀번호를 설정해주세요.(영문, 숫자 필수입력)</p>
            <div>
                <input id="user-pw2" type="password" placeholder="비밀번호를 재확인 해주세요" name="psw" required>
            </div>
            <!-- <p id="help-password2" class="validation_pw">영문과 숫자, 일부 특수문자(!@#$%^&*) 조합의 8~20자의 비밀번호를 설정해주세요.(영문, 숫자 필수입력)</p> -->
        </div>
        <button onclick="sign_up()" type="button">가입하기</button>
    </div>
</form>
{% endblock %}

